html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; /* ie8 */
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
	
}

@media only screen and (max-width: 900px) {
	/* -------------------------767-----nada-------------- */
	/* ------------------Header-------------------- */
	header {margin-top: 0px;height:150px;}
	header #logo{top:20px;}
	
	/* -------------------------------------------- */
	/* ------------------Featured------------------ */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (min-width: 820px) and (max-width: 1200px) {
	/* ------------------------620-------nada------------- 767 ------ */
	/* ------------------Header-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (min-width: 680px) and (max-width: 819px) {
	/* -------------------------480-------nada------------619-------- */
	/* ------------------Header-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (max-width: 879px) {
	/* ------------------------479-----nada--------------- */
	/* ------------------Header-------------------- */
	header{height: 10px;} /* 170 */
	header #logo{top:20px;}
	header #search{bottom: 15px; width: 230px; top:auto; left: 5px;}
	header #search input{width: 194px;}

	.menu{display:none;}
	.minimenu{display:block;}
	
	#main-content .comment input, #main-content .comment textarea{width:90%;}
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}
