}
.footer1 {
  /* position: fixed; */
  /* left: 0; */
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #57B338;
  color: white;
  text-align: center;
  font-weight:bold;
  text-decoration: none;
}
